<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Organization Contacts</title>
</head>
<body>

<h2>Organization List</h2>
<table>
    <tr>
        <td><b>ID</b></td>
        <td><b>Name</b></td>
    </tr>

    <tr th:each="organization : ${organizations}">
        <td th:text="${organization.id}">1</td>
        <td th:text="${organization.name}">Johann</td>
        <td><a href="#" th:href="@{'organizations/details' + ${organization.id}}">Details</a></td>
    </tr>
</table>

</body>
</html>